
# dependencies
node_modules
/house/node_modules/


# testing
/coverage


# No modules
node_modules/

# production
/house/build

# misc
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*node_modules
node_modules
